.word-details {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    margin-block: 2rem;
}


.word-details h2 {
    font-family: var(--font-cinzel);
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.details {
    margin-left: 2rem;
}

.details li {
    font-size: 1.1rem;
}

.details-point {
    margin-block: .5rem;
}

.details-point p {
    font-size: .87rem;
    font-style: italic;
    color: #4b3f20;
    font-weight: 500;
}

@media screen and (max-width:450px) {
    .word-details {
        padding: 1rem;
    }

    .word-details h2 {
        font-size: 1.5rem;
    }

    .details li {
        font-size: 1rem;
    }

    .details-point p {
        font-size: .85rem;
    }

    .details-point {
        margin-block: .3rem;
    }

    .details {
        margin-left: 1.5rem;
    }
}