.heading {
    text-align: center;
    min-height: 10rem;
}

.heading h1 {
    font-family: var(--font-cinzel);
    font-weight: 800;
    font-size: 3rem;
    line-height: 3rem;
}

.heading p {
    font-family: var(--font-dance);
    font-size: 1.5rem;
    font-weight: 900;
}

.heading img {
    width: 16rem;
    margin-top: -3.5rem;
}

.github-link{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: black;
}

.github-link a{
    color: black;
    text-decoration: none;
}

.github-link a:hover{
    text-decoration: underline;
}


@media screen and (max-width:750px) {
    .heading h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .heading p {
        font-size: 1.3rem;
    }

    .heading img {
        width: 13rem;
        margin-top: -3rem;
    }
}

@media screen and (max-width:470px) {
    .heading h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .heading p {
        font-size: 1.2rem;
    }

    .heading img {
        width: 12rem;
        margin-top: -2.7rem;
    }
}
@media screen and (max-width:350px) {
    .heading h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .heading p {
        font-size: 1.2rem;
    }

    .heading img {
        width: 12rem;
        margin-top: -2.7rem;
    }
}