.main {
    min-height: 100vh;
    background: url(./assests/bg-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: var(--font-poppins);
    position: relative;
}

.bg-nib {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44rem;
    opacity: .5;
    z-index: 1;
    pointer-events: none;
}


.container {
    margin-inline: auto;
    width: 95%;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: 2rem;
    margin-top: -4rem;
    gap: 2rem;
}

.left {
    flex-basis: 28%;
}

.right {
    flex-basis: 70%;
}

@media screen and (max-width:950px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        flex-basis: 100%;
        width: 100%;
    }


    .left {
        order: 2;
    }
}

@media screen and (max-width:650px) {
    .bg-nib {
        width: 35rem;
    }

    .container {
        gap: 0rem;
    }
}