@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Moon+Dance&family=Poppins:wght@400;500;600;700;800&display=swap');


:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-dance: 'Moon Dance', cursive;
    --font-cinzel: 'Cinzel', sans-serif;

    --primary-color: rgba(210, 197, 170, 0.95);
    --box-shadow: 7px 7px 7px #3d2713;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: #3d2713;
    border-radius: 4rem;
}